<div class="fixed top-5 right-5 flex flex-col space-y-3 z-50">
  <div
    *ngFor="let notification of notifications$ | async"
    class="relative flex w-80 p-4 rounded-lg shadow-lg bg-gray-500 border border-gray-300 animate-slide-in"
  >
    <!-- Franja de color según el tipo de notificación -->
    <div
      [ngClass]="{
        'bg-green-500': notification.type === 'success',
        'bg-red-500': notification.type === 'error',
        'bg-yellow-500': notification.type === 'warning',
        'bg-blue-500': notification.type === 'info'
      }"
      class="absolute left-0 top-0 h-full w-2 rounded-l-lg"
    ></div>

    <!-- Contenido de la notificación -->
    <div class="flex-1 pl-4">
      <p class="text-white text-sm">{{ notification.message }}</p>
    </div>

    <!-- Botón de cerrar -->
    <button
      (click)="removeNotification(notification.id)"
      class="absolute top-2 right-3 text-gray-500 hover:text-gray-700 text-lg"
    >
      &times;
    </button>
  </div>
</div>
